.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.background {
    background: darkgrey;
    width: 1850px;
    height: 950px;
}
/*
.start-btn {
    background-color: steelblue;
    padding: 3px;
    font: 20px san-serif;
}
*/

.line {
    fill: none;
    stroke: #ffab00;
    stroke-width: 3;
}

.bar 
{
    color: white;
}