.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.line {
    fill: none;
    stroke: #ffab00;
    stroke-width: 3;
}

.bar 
{
    fill: #000080;
}