.title {
    padding: 1px 0px;
    text-align: center;
    margin: auto;
    
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    
    background: #DDDDE0;
    width: 375px;
    top: 10px;
}

.background {
    background: darkgrey;
    width: 1900px;
    height: 982px;
}

.bar {
    color: white;
}